
.profile {
    width: 250px;
    padding-left: 180px;
    padding-top: 10px;
    display: flex;
}

.main {
    height: 560px;
    background-color: #fff;
    border: 1px solid rgb(160, 160, 160);
    margin-left: 20px;
}

.pic {
    width: 180px;
    height: 180px;
    margin: 15px;
}

.pic img {
    width: 100%;
    height: 100%;
    margin-left: 7px;
    margin-top: 7px;
}

.name {
    text-align: center;
    font-size: 15px;
    color: rgb(73, 64, 64);
}

.tag {
    font-size: 13px;
    text-align: center;
    color: rgb(95, 94, 93);
}

.row{
    margin-left: 5px;
    margin-top: 10px;
}
.bob{
    font-size: 14px;
    text-align: center;

}

hr {
    border: none;
    border-top: 1px dotted rgb(73, 64, 64);
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 80%;
    margin-top: 5px;
}

.footer{
    background-color: rgb(224, 57, 57);
    height: 50px;
    width: 180px;
    color: #fff;
    margin-left: 8px;
}

.pinks{
    display: flex;
    font-size: 14px;
    margin-left: 15px;
}

.idemail{
    margin-left: 15px;
    font-size: 14px;
}
.pinks .email{
    margin-left: 12px;
}

.footer1{
    background-color: rgb(25, 216, 67);
    height: 50px;
    width: 180px;
    color: #fff;
    margin-top: 10px;
    margin-left: 8px;
}

.pinks{
    display: flex;
    font-size: 14px;
    margin-left: 15px;
}

.idemail{
    margin-left: 15px;
    font-size: 14px;
}
.pinks .email{
    margin-left: 12px;
}